<div class="container-fuild">
  <div class="row">
    <div class="col-md-6">
      <img class="img-fluid login-image"  src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwebstockreview.net%2Fimages%2Fmale-clipart-office-man-10.png&f=1&nofb=1" alt="login-image">
    </div>
    <div class="col-md-4 mt-3 ms-5">
        <h3 class="text-succes text-center">Welcome to Crosslynx</h3>

      <form action="" class="mt-4">
        <h5 class="text-primary mb-3"></h5>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInputUser" placeholder="Username" name="username" [(ngModel)]="username">
          <label for="floatingInputUser">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" [(ngModel)]="password">
          <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating mb-3">
          <select class="form-select" id="floatingSelect" aria-label="Role" name="role" [(ngModel)]="role">
            <option *ngFor="let role of roles" [value]="role">{{role}}</option>
          </select>
          <label for="floatingSelect">Role</label>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-outline-success" type="button" (click)="onLogin()">Login</button>
        </div>
        <a routerLink="/signup" class="text-primary" style="text-decoration: none"> Register here </a>
      </form>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>
